@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

/* select all the html elements */
* {
  font-family: "Outfit", sans-serif;
}

@theme {
  --color-primary: #34A853;
  --color-primary-hover: #2BA24B;
}
